In [27]:
import json
import gzip
import ast
import pandas as pd
from datetime import datetime

In [28]:
#Creamos una funcion para descomprimir el archivo y desanidar la lista
def gziprd (jsonfile):
    with gzip.open(jsonfile, 'rt') as f:
        data = [json.loads(line) for line in f]
        return data

In [29]:
def gziprd1 (jsonfile):
    with gzip.open(jsonfile, 'rt') as f:
        data = [ast.literal_eval(line) for line in f]
        return data

In [30]:
games = gziprd ("/Users/macbookpro/Desktop/PI_Henry/PI MLOps - STEAM/steam_games.json.gz")
reviews = gziprd1 ("/Users/macbookpro/Desktop/PI_Henry/PI MLOps - STEAM/user_reviews.json.gz")
items = gziprd1 ("/Users/macbookpro/Desktop/PI_Henry/PI MLOps - STEAM/users_items.json.gz")

In [31]:
#Convertimos games a dataframe
df_games = pd.DataFrame(games)
df_reviews = pd.DataFrame(reviews)
df_items = pd.DataFrame(items)

     GAMES

In [32]:
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [33]:
# Verificamos nulos
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [34]:
#Eliminamos nulos
df_games.dropna(inplace=True)

In [35]:
# eliminamos la columna price que no nos sirve
df_games.drop(['price'], axis=1, inplace=True)

    ITEMS

In [36]:
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [37]:
# revisamos nulos
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [38]:
#Eliminamos duplicados
df_items = df_items.loc[df_items.astype(str).drop_duplicates().index]

In [39]:
#Desanidamos la columna items y guardamos en un nuevo dataframe
item=[]
for i in df_items.values:
    item.append(i[4])

df_items1 = pd.DataFrame([i for list in item for i in list])
df_items1

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6,0
1,20,Team Fortress Classic,0,0
2,30,Day of Defeat,7,0
3,40,Deathmatch Classic,0,0
4,50,Half-Life: Opposing Force,0,0
...,...,...,...,...
5097252,346330,BrainBread 2,0,0
5097253,373330,All Is Dust,0,0
5097254,388490,One Way To Die: Steam Edition,3,3
5097255,521570,You Have 10 Seconds 2,4,4
5097256,519140,Minds Eyes,3,3

In [40]:
# eliminamos del dataframe original la columna 'items' que desanidamos
df_items.drop(['items'], axis=1, inplace=True)
df_items

,user_id,items_count,steam_id,user_url
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr
...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [41]:
# verificamos nulos
df_items1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5097257 entries, 0 to 5097256
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  int64
 3   playtime_2weeks   int64
dtypes: int64(2), object(2)
memory usage: 155.6+ MB

In [42]:
#Eliminamos duplicados
df_items1 = df_items1.loc[df_items1.astype(str).drop_duplicates().index]
df_items1

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6,0
1,20,Team Fortress Classic,0,0
2,30,Day of Defeat,7,0
3,40,Deathmatch Classic,0,0
4,50,Half-Life: Opposing Force,0,0
...,...,...,...,...
5097048,730,Counter-Strike: Global Offensive,4557,1698
5097250,304930,Unturned,677,677
5097251,227940,Heroes & Generals,43,43
5097254,388490,One Way To Die: Steam Edition,3,3
5097255,521570,You Have 10 Seconds 2,4,4

    REVIEWS

In [43]:
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [44]:
# verificamos nulos
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [45]:
# eliminamos duplicados
df_reviews = df_reviews.loc[df_reviews.astype(str).drop_duplicates().index]

In [46]:
#Desanidamos la columna review y guardamos en un nuevo dataframe
datos=[]
for i in df_reviews.values:
    datos.append(i[2])

df_reviews1 = pd.DataFrame([review for sublist in datos for review in sublist])
df_reviews1

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
58426,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58427,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58428,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58429,,Posted July 20.,,730,No ratings yet,True,:D
58430,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [47]:
# verficamos nulos
df_reviews1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58431 entries, 0 to 58430
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        58431 non-null  object
 1   posted       58431 non-null  object
 2   last_edited  58431 non-null  object
 3   item_id      58431 non-null  object
 4   helpful      58431 non-null  object
 5   recommend    58431 non-null  bool
 6   review       58431 non-null  object
dtypes: bool(1), object(6)
memory usage: 2.7+ MB

In [48]:
#Eliminamos duplicados
df_reviews1 = df_reviews1.loc[df_reviews1.astype(str).drop_duplicates().index]
df_reviews1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58430 entries, 0 to 58430
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   funny        58430 non-null  object
 1   posted       58430 non-null  object
 2   last_edited  58430 non-null  object
 3   item_id      58430 non-null  object
 4   helpful      58430 non-null  object
 5   recommend    58430 non-null  bool
 6   review       58430 non-null  object
dtypes: bool(1), object(6)
memory usage: 3.2+ MB

In [49]:
# eliminamos la palabra 'posted' de la columna 'posted' para poder convertir a dt
df_reviews1['posted'] = df_reviews1['posted'].replace({'Posted':''}, regex=True)
df_reviews1

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
58426,,July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58427,,July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58428,1 person found this review funny,July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58429,,July 20.,,730,No ratings yet,True,:D
58430,,July 2.,,440,No ratings yet,True,so much fun :D

In [50]:
df_reviews1['posted'] = pd.to_datetime(df_reviews1['posted'], format =" %B %d, %Y.", errors='ignore')
df_reviews1['posted'] = pd.to_datetime(df_reviews1['posted'], format =" %B %d.", errors='ignore')

In [51]:
#Guardamos los archivos formato mas ligero

df_games.to_parquet('datasets/df_games.parquet', engine='auto', compression='snappy')
df_items.to_parquet('datasets/df_items.parquet', engine='auto', compression='snappy')
df_reviews.to_parquet('datasets/df_reviews.parquet', engine='auto', compression='snappy')
df_reviews1.to_parquet('datasets/df_reviews1.parquet', engine='auto', compression='snappy')
df_items1.to_parquet('datasets/df_items1.parquet', engine='auto', compression='snappy')